.code-container {
  text-align: center;
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;

  .resend-code-btn {
    cursor: pointer;
    text-transform: none;

    mat-spinner {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
