:host ::ng-deep {
  .mat-checkbox {
    margin: 2px 0;

    .mat-checkbox-label {
      line-height: normal;
    }
    .mat-checkbox-layout {
      white-space: normal;
    }
  }
}

.code-container {
  display: block;
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0 10px;

  small {
    color: inherit;
  }
  
  .resend {
    cursor: pointer;
    text-transform: none;

    mat-spinner {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

