<div class="code-container">
  <fs-2fa-verification-code
    [recipient]="recipient"
    [type]="verificationMethod.type"
    [code]="code"
    (codeChanged)="codeChanged.emit($event)"
    (codeCompleted)="codeCompleted.emit()">
  </fs-2fa-verification-code>
</div>

<div class="additional">
  <div 
      class="trust-device"
      *ngIf="showTrustedDevice">
    <mat-checkbox
        name="trust-device"
        [(ngModel)]="trustDevice"
        (ngModelChange)="trustDeviceChange.emit($event)">
        Trust Device & Bypass 2-Step Verification 
      <ng-container *ngIf="trustDays">for {{trustDays}} days</ng-container>
      <div class="small">If you use a different browser or clear cookies you may need to perform 2-Step Verification again.</div>
    </mat-checkbox>
  </div>
</div>