<form fsForm [submit]="submit" [autocomplete]="false">
  <fs-dialog>
    <h1 mat-dialog-title>
      Text Message Setup
    </h1>
    <mat-dialog-content>
      <ng-container *ngIf="verificationMethod; else notVerificationMethod">
        <fs-2fa-verification
          [verificationMethod]="verificationMethod"
          (codeChanged)="codeChanged($event)"
          [resend]="resend"
          [(trustDevice)]="trustDevice">
        </fs-2fa-verification>
      </ng-container>

      <ng-template #notVerificationMethod>
        <p>The app will only use this number for verifying your account security. Message and data rates may apply by your cell phone provider.</p>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <fs-phone-field
            [(ngModel)]="phone"
            [country]="defaultCountry"
            name="phone"
            [mode]="'object'"
            autocomplete="off"
            [required]="true">
          </fs-phone-field>
        </mat-form-field>
        <mat-checkbox 
            name="default"
            [(ngModel)]="default"
            [disableRipple]="true">
          Make this the default 2-step verification method
        </mat-checkbox>
      </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
          mat-button
          color="primary"
          type="submit">
        Next
      </button>
      <button
          mat-button
          type="button"
          [mat-dialog-close]="undefined">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
