:host ::ng-deep {
  .col-account {
    .row {
      display: flex;
      align-items: center;

      fs-badge {
        margin-right: 5px;
      }
    }
  }

  .col-device {
    .device {
      position: relative;
      display: inline-block;

      .current-device {
        right: 8px;
        top: -8px;
        position: absolute;
      }
    }
  }
}