<form fsForm [submit]="submit">
  <fs-dialog>
    <h1 mat-dialog-title>
      Email Setup
    </h1>
    <mat-dialog-content>
      <ng-container *ngIf="verificationMethod; else notVerificationMethod">
        <fs-2fa-verification
          [verificationMethod]="verificationMethod"
          (codeChanged)="codeChanged($event)"
          (codeCompleted)="codeCompleted()"
          [resend]="resend"
          [(trustDevice)]="trustDevice">
        </fs-2fa-verification>
      </ng-container>

      <ng-template #notVerificationMethod>
        <p>The app will only use this email for verifying your account security. </p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            [required]="true"
            [(ngModel)]="email"
            [fsFormEmail]="true"
            name="email">
        </mat-form-field>
        <mat-checkbox 
            name="default"
            [(ngModel)]="default"
            [disableRipple]="true">
          Make this the default verification method
        </mat-checkbox>
      </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
          mat-button
          color="primary"
          type="submit">
        Next
      </button>
      <button
          mat-button
          type="button"
          [mat-dialog-close]="undefined">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
