:host ::ng-deep {
  mat-checkbox {
    .mat-ripple {
      display: none;
    }

    .mat-checkbox-layout {
      white-space: wrap;
    }
  }
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  width: 400px;
  max-width: 100%;
}

p {
  margin-top: 0;
}

app-code-input {
  margin-bottom: 5px;
  display: block;
}
