<form fsForm [submit]="verify">
  <h2>2-Step Verification</h2>

  <div class="code-container">
    <ng-container *ngIf="method.type === 'authenticator' else code">
      <fs-2fa-verification-otp class="otp"></fs-2fa-verification-otp>
    </ng-container>

    <ng-template #code>
      <fs-2fa-verification-code
        [method]="method"
        (codeChange)="codeChanged($event)">
      </fs-2fa-verification-code>
    </ng-template>
  </div>

  <div class="additional">
    <mat-checkbox
      name="trust-device"
      [(ngModel)]="trustedDevice">
      Trust this device
    </mat-checkbox>

    <span matSuffix>
    <button mat-button
            type="button"
            color="primary"
            (click)="resend()"
            [disabled]="resendInProgress"
            class="resend-code-btn">
      <ng-container *ngIf="!resendInProgress else sending">
        Resend Code
      </ng-container>
      <ng-template #sending>
        <mat-spinner [diameter]="12"></mat-spinner> Sending
      </ng-template>
    </button>
  </span>
  </div>

  <div class="actions">
    <button mat-raised-button
            color="primary"
            type="submit">
      Verify
    </button>

    <ng-content></ng-content>
  </div>
</form>
