h2, .code-container {
  text-align: center;
}

.code-container {
  .otp {
    margin-bottom: 15px;
  }
}

:host {
  ::ng-deep {
    .actions {
      margin: 10px 0;

      a {
        width: 100%;
        font-weight: 400;
      }

      button {
        width: 100%;

        &[type=button] {
          font-weight: 400;
          text-transform: none;
        }
      }
    }
  }
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -5px;

  .resend-code-btn {
    text-transform: none;

    mat-spinner {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
