<fs-dialog>
  <h1 mat-dialog-title>
    <mat-icon>textsms</mat-icon> Text Message Numbers
  </h1>
  <mat-dialog-content>
    <fs-2fa-verification-methods
      [type]="VerificationMethodType.Sms"
      [twoFactorManageService]="twoFactorManageService"
      (deleted)="deleted()">
    </fs-2fa-verification-methods> 
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
        mat-button
        type="button"
        color="primary"
        [mat-dialog-close]="undefined">
      Close
    </button>
    <button
        mat-button
        (click)="add()"
        type="button">
      Add Number
    </button>
  </mat-dialog-actions>
</fs-dialog>
