<div class="code-container">
  <fs-2fa-verification-code
    [method]="method"
    [code]="code"
    (codeChanged)="codeChanged.emit($event)"
    (codeCompleted)="codeCompleted.emit()">
  </fs-2fa-verification-code>
</div>

<div class="additional">
  <mat-checkbox
    name="trust-device"
    [(ngModel)]="trustedDevice">
    Trust this device
  </mat-checkbox>

  <span class="resend-code-btn">
    <ng-container *ngIf="!resendInProgress else sending">
      <a (click)="resend()">
        Resend Code
      </a>
    </ng-container>
    <ng-template #sending>
      <mat-spinner [diameter]="12"></mat-spinner> Sending
    </ng-template>
  </span>
</div>