<fs-dialog>
  <h1 mat-dialog-title>2-Step Verification</h1>
  <mat-dialog-content>
    <table>
      <tr *ngIf="verificationMethodTypes[VerificationMethodType.Sms]">
        <td>
          <mat-icon>textsms</mat-icon>
        </td>
        <td>
          <div class="type">
            <span>Text Message</span>
            @if(textHasVerificationMethod) {
              <ng-container [ngTemplateOutlet]="enabledChip"></ng-container>
            }
            <app-defaulted *ngIf="defaultSms"></app-defaulted>
          </div>
          <div class="small">
            Verification codes are sent by text message
            <ng-container *ngIf="textHasVerificationMethod">
              to <span class="items">
                <span *ngFor="let item of twoFactorManageService.smsVerificationMethods">{{item.phoneNumber | fsPhone}}</span>
              </span>
            </ng-container>
          </div>
        </td>
        <td>
          @if(textHasVerificationMethod) {
            <button 
                mat-button 
                [ngClass]="{ 
                  'mat-mdc-outlined-button': buttonStyle === 'stroked',
                  'mat-mdc-raised-button': buttonStyle === 'raised'
                }"
                type="button"
                (click)="textMessageManage()">
              Manage
            </button>
          } @else {
            <button               
                mat-button 
                [ngClass]="{ 
                  'mat-mdc-outlined-button': buttonStyle === 'stroked',
                  'mat-mdc-raised-button': buttonStyle === 'raised'
                }"
                color="primary"
                type="button"
                (click)="textMessageAdd()">
              Turn On
            </button>
          }
        </td>
      </tr>
      <tr *ngIf="verificationMethodTypes[VerificationMethodType.Email]">
        <td>
          <mat-icon>email</mat-icon>
        </td>
        <td>
          <div class="type">
            <span>Email</span> 
            @if(emailHasVerificationMethod) {
              <ng-container [ngTemplateOutlet]="enabledChip"></ng-container>
            }
            <app-defaulted *ngIf="defaultEmail"></app-defaulted>
          </div>
          <div class="small">
            Verification codes are sent by email
            <ng-container *ngIf="emailHasVerificationMethod">
              to <span class="items">
                <span *ngFor="let item of twoFactorManageService.emailVerificationMethods">{{item.email}}</span>
              </span>
            </ng-container>
          </div>
        </td>
        <td>
          @if(emailHasVerificationMethod) {
            <button 
                mat-button 
                [ngClass]="{ 
                  'mat-mdc-outlined-button': buttonStyle === 'stroked',
                  'mat-mdc-raised-button': buttonStyle === 'raised'
                }"
                type="button"
                (click)="emailMessageManage()">
              Manage
            </button>
          } @else {
            <button
                mat-button 
                [ngClass]="{ 
                  'mat-mdc-outlined-button': buttonStyle === 'stroked',
                  'mat-mdc-raised-button': buttonStyle === 'raised'
                }"
                color="primary"
                type="button"
                (click)="emailMessageAdd()">
              Turn On
            </button>
          }
        </td>
      </tr>
      <tr *ngIf="verificationMethodTypes[VerificationMethodType.App]">
        <td>
          <mat-icon>phone_iphone</mat-icon>
        </td>
        <td>
          <div class="type">
            <span>Authenticator App</span>
            @if(appHasVerificationMethod) {
              <ng-container [ngTemplateOutlet]="enabledChip"></ng-container>
            }
            <app-defaulted *ngIf="defaultApp"></app-defaulted>
          </div>
          <div class="small">Verification code is generated by an authenticator app such as Authy or Google Authenticator</div>
        </td>
        <td>
          @if(appHasVerificationMethod) {
            <button 
                mat-button 
                [ngClass]="{ 
                  'mat-mdc-outlined-button': buttonStyle === 'stroked',
                  'mat-mdc-raised-button': buttonStyle === 'raised'
                }"
                type="button"
                (click)="appRemove()">
              Remove
            </button>
          } @else {
            <button               
                mat-button 
                [ngClass]="{ 
                  'mat-mdc-outlined-button': buttonStyle === 'stroked',
                  'mat-mdc-raised-button': buttonStyle === 'raised'
                }"
                color="primary"
                type="button"
                (click)="appAdd()">
              Turn On
            </button>
          }
        </td>
      </tr> 
    </table>      
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
        mat-button
        color="primary"
        type="button"
        [mat-dialog-close]="undefined">
      Close
    </button>
  </mat-dialog-actions>
</fs-dialog>


<ng-template #enabledChip>
  <fs-chip [backgroundColor]="'#70B601'" [size]="'tiny'">Enabled</fs-chip>
</ng-template>