mat-dialog-content {
  max-width: 500px;
}

table {
  tr {
    td:first-child,
    td:last-child {
      width: 1%;
      
      mat-icon {
        display: flex;
      }
    }

    td {
      padding: 6px;
      vertical-align: middle;
    }

    .type {
      display: flex;
      align-items: center;

      span {
        margin-right: 5px;
      }

      app-defaulted {
        margin-left: 4px;
      }
    }
  }
}

.items {
  span + span {
    &:not(:last-child)::before {
      content: ', ';
    }

    &:last-child::before {
      content: ' and ';
    }
  }
}