mat-dialog-content {
  max-width: 500px;
}

.enabled {
  font-size: 75%;
  background-color: #70B601;
  padding: 2px 4px;
  border-radius: 4px;
  color: #fff;
  margin-left: 4px;

  &::after {
    content: 'Enabled';
  }
}

table {
  tr {
    td:first-child,
    td:last-child {
      width: 1%;
      
      mat-icon {
        display: flex;
      }
    }

    td {
      padding: 6px;
      vertical-align: middle;
    }

    .type {
      display: flex;
      align-items: center;

      app-defaulted {
        margin-left: 4px;
      }
    }
  }
}

.items {
  span + span {
    &:not(:last-child)::before {
      content: ', ';
    }

    &:last-child::before {
      content: ' and ';
    }
  }
}