<div class="container">
  <form fsForm [submit]="verify" [dirtySubmitButton]="false">
    <h2>2-Step Verification</h2> 

    <fs-2fa-verification
      #verification 
      [verificationMethod]="verificationMethod"
      [getVerificationMethods]="getVerificationMethods"
      [selectVerificationMethod]="selectVerificationMethod"
      (codeCompleted)="codeCompleted()"
      [trustDays]="30"
      [resend]="resend">
    </fs-2fa-verification>

    <div class="actions">
      <button 
          mat-flat-button
          color="primary"
          type="submit">
        Verify
      </button>

      <button 
          [fs2faVerificationResend]="verification"
          mat-button 
          type="button">
        Resend Code
      </button>

      <button 
          mat-button 
          type="button" 
          (click)="verification.showVerificationMethods()">
        Try other ways to verify
      </button>

      <button mat-button type="button">
        Back to signin
      </button>
    </div>
  </form>
</div>
