<div class="container">
  <form fsForm [submit]="verification.verify" [dirtySubmitButton]="false">
    <h2>2-Step Verification</h2> 

    <fs-2fa-verification
      #verification 
      [method]="method"
      (verified)="verified()">
    </fs-2fa-verification>

    <div class="actions">
      <button 
          mat-raised-button
          color="primary"
          type="submit">
        Verify
      </button>

      <button mat-button type="button" (click)="verification.showVerificationMethods()">
        Try other ways to verify
      </button>

      <button mat-button type="button">
        Back to signin
      </button>
    </div>
  </form>
</div>
