<h2>
  Two-Step Authentication 

  <button
      mat-raised-button
      (click)="twoFactorManage.manage()"
      type="button">
    Manage
  </button>      
</h2>

<fs-2fa-manage
  #twoFactorManage
  [defaultCountry]="'CA'"
  [buttonStyle]="'stroked'"
  [accountVerify]="accountVerify"
  [verificationMethodTypes]="[VerificationMethodType.Sms, VerificationMethodType.Email, VerificationMethodType.App]"
  [verificationMethodsFetch]="verificationMethodsFetch"
  [verificationMethodDelete]="verificationMethodDelete"
  [verificationMethodCreate]="verificationMethodCreate"
  [verificationMethodVerify]="verificationMethodVerify"
  [verificationMethodDefault]="verificationMethodDefault"
  [verificationMethodResend]="verificationMethodResend">
</fs-2fa-manage>