<form
    fsForm
    [submit]="next"
    [dirtySubmitButton]="false"
    *fsSkeleton="email">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Enable 2-Step Verification
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Please enable two factor authentication to protect your account.
        The app will use this email for verifying your account
      </p>
      <fs-label-field>
        <fs-label>
          Email
        </fs-label>
        {{ email }}
      </fs-label-field>
      <div class="buttons">
        <button
            mat-raised-button
            type="submit"
            color="primary">
          Next
        </button>
        <button
            mat-button
            (click)="cancel()"
            type="button">
          Cancel
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>