<form
    fsForm
    [submit]="verify"
    [dirtySubmitButton]="false"
    *fsSkeleton="verificationMethod">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Enable 2-Step Verification
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <fs-2fa-verification
        #verification
        [verificationMethod]="verificationMethod"
        [showTrustedDevice]="true"
        (codeChanged)="codeChanged($event)"
        [resend]="resend">
      </fs-2fa-verification>
      <div class="buttons">
        <button
            mat-raised-button
            type="submit"
            color="primary">
          Verify
        </button>
        <button
            mat-button
            [fs2faVerificationResend]="verification"
            type="button">
          Resend
        </button>
        <button
            mat-button
            (click)="cancel()"
            type="button">
          Cancel
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>