.method {
  display: block;
  margin-bottom: 20px;

  .method-header {
    display: flex;
    align-items: flex-start;

    .method-name {
      margin-left: 10px;

      .method-title {
        font-size: 14px;
        font-weight: 400;
      }

      .method-subtitle {
        font-size: 12px;
        color: #a3a3a3;
      }
    }
  }

  .method-item {
    display: block;
    margin: 10px 0 0 35px;
  }
}
